In [1]:
import pandas as pd 
import numpy as np

In [3]:
data=[]
for i in range(64):
    data.append(i)

In [16]:
import pandas as pd

data = []
for i in range(64):
    data.append(i)

# 将数据横向表示
df = pd.DataFrame([data])  # 注意这里用的是 [data]，将数据放在一个列表中
df=df.append([data[::-1]], ignore_index=True)  # 这里用的是 append，将数据放在一个列表中

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_35236\285119576.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df=df.append([data[::-1]], ignore_index=True)  # 这里用的是 append，将数据放在一个列表中

In [17]:
df.to_csv('data.csv', index=False)  # index=False, header=False 表示不保存行索引和列索引

In [18]:
df

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
0,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
1,63,62,61,60,59,58,57,56,55,54,...,9,8,7,6,5,4,3,2,1,0